
.tag {
  padding: 13px 21px;
  background: #f1f5f9;
  font-size: 15px;
  font-weight: 600;
  color: rgba(#000, .9);
  border-radius: 50px;
  @include phones {
    font-size: 20px;
    padding: 15px 30px;
  }
}
